@font-face {
    font-family: FrankRuhlLibre-Light;
    src: url(fuente/FrankRuhlLibre-Light.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(backg.jpg);
    margin: 0 auto;
}

.contenedor_sitio {
    width: 1000px;
    height: 70%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}

.header {
    width: 1000px;
    height: 4rem;
    margin-top: 30;
    margin-bottom: 5;
}

.header__barra-sup {
    width: 1000px;
    height: 8%;
    background-image: url(headgradient.png);
}

.header__slogan {
    float: right;
    margin-top: 0.8rem;
    margin-right: 10rem;
    font-size: 0.8rem;
    color: rgb(207, 207, 207);
    margin-bottom: 0.5rem;
}

.header__titulo {
    float: left;
    color: rgb(138, 204, 7);
    font-size: 3rem;
    margin-left: 2rem;
    margin-top: 0.1rem;
    font-family: FrankRuhlLibre-Light;
}

.header__barra-inf {
    width: 1000px;
    height: 8%;
    background-image: url(headgradient.png);
    margin-top: 3.7rem;
}



.navigation {
    width: 1000px;
    height: 15rem;
    background-color: rgb(255, 255, 255);
}

.navigation__link {
    font-size: 1rem;
    font-family: 'Segoe UI';
    color: rgb(189, 189, 189);
    margin-left: 3rem;
}

.navigation__img {
    width: 1000px;
    height: 15rem;
}

.section {
    margin-top: 0.2rem;
    width: 1000px;
    height: 510px;
    background-color: rgb(255, 255, 255);
    flex: inherit;
    display: flex;
}

.section__lcontent {
    margin-top: 0.2rem;
    width: 500px;
    height: 600px;
    float: left;
}

.section__lcontent-titulo {
    color: rgb(17, 0, 126);
    font-family: Times;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    padding-top: 2rem;
    margin-left: 1rem;
}

.section__lcontent-barra {
    width: 20vw;
    height: 0.3rem;
    background-image: url(headgradient.png);
}

.section__lcontent-texto {
    font-size: 0.9rem;
    color: rgb(155, 155, 155);
    padding-left: 1rem;
    text-align: justify;
    font-family: 'Trebuchet MS';
}

.section__lcontent-barra-paralela {
    width: 3px;
    height: 400px;
    background-image: url(dots.png);
    float: left;
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.section__rcontent {
    margin-top: 0.2rem;
    width: 400px;
    float: right;
    font-size: 1.05rem;
    color: rgb(155, 155, 155);
    padding-left: 1rem;
    padding-right: 2rem;
    text-align: justify;
    font-family: 'Trebuchet MS';
}

.section__rcontent-titulo {
    color: rgb(253, 127, 24);
    font-family: 'Trebuchet MS';
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-bottom: 0.1rem;
    padding-top: 2rem;
    margin-left: 1rem;
}

.section__rcontent-barra {
    width: 30v;
    height: 0.3rem;
    background-image: url(headgradient.png);
}

.navigation__section-link {
    color: rgb(105, 209, 2);
}

.footer {
    width: 1000px;
    height: 1rem;
    background-color: rgb(255, 255, 255)
}

.footer__texto {
    color: rgb(155, 155, 155);
    font-size: 0.7rem;
    text-align: center;
}

.footer__barra {
    width: 1000px;
    height: 0.6rem;
    background-image: url(headgradient.png);
}